.Landing-body {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
}
.header-search {
	height: 50px;
	max-width: 450px;
	border-width: 0;
}
.header-span {
	height: 50px;
	max-width: 500px;
	background-color: #fff;
	display: flex;
	
}

.header-seach-icon:hover {
	cursor: pointer;
}

.landing-container {
	display: flex;
	flex: 1;
}
