.game-container {
	cursor: pointer;
	border: 1px #e96b00 solid;
	border-radius: 40px;
	background-color: #fff;
	padding: 10px;
	max-width: 350px;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.game-container .game-name {
	font-size: 18px;
	font-weight: normal;
	color:black
}

.game-container .game-price {
	font-size: 24px;
	color:black

}
