.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-width: 100vw;
	height: 80px;
	background-color: #e96b00;
	padding: 0 40px 0 40px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	flex:1
}
.header-container .header-title {
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	color: #efefef;
}

.header-container .header-user-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #efefef;
}

.header-user-container .header-user-name {
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.header-user-container .header-items {
	display: flex;
	flex-direction: column;
}

.header-items .header-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.header-cart img {
	height: 42px;
	width: 42px;
}
.header-cart .header-cart-text {
	font-size: 18px;
	line-height: 20px;
	color: #efefef;
}
.header-items .header-cart-valor {
	font-size: 22px;
	color: #efefef;
}
