.landing-filters {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	background-color: #e96b00;
	flex: 1;
	color: #efefef;
}

.landing-filters-orders {
	position: sticky;
	top: 150px;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-filters-orders button {
	border-width: 0;
	flex: 1;
	margin: 5px 0 5px 0;
	padding: 2px 0 2px 0;
	color: #efefef;
	background-color: #e27d25;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.landing-filters-orders button:hover {
	background-color: #aa5e1b;
}

.landing-order-options {
	border: 3px solid #aa5e1b;
	margin: 0 5px 0 5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.landing-filter-options {
	border: 3px solid #aa5e1b;
	margin: 0 5px 0 5px;

	display: flex;
	flex-direction: column;
}
.landing-filter-options h2 {
	align-self: center;
}
